<ion-header>
  <ion-navbar>
    <ion-title>Tic tac toe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="gameStatus" >
      {{StatusMessage}}
  </div>
  <ion-grid class="boardpanel">
    <ion-row *ngFor="let row of [0,1,2]">
      <ion-col col-4 class="cell"
            *ngFor="let col of [0,1,2]"
            (click)="usermove(col+row*3)"
            >
            {{cells[col+row*3]}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="restartbutton" (click)="restartGame()">Start Game</button>
</ion-content>
