page-home {
	
  .gameStatus {
    margin: 0px;
    padding: 15px;
    color: black;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  .boardpanel {
    background-color: white;
    color: green;
  }
  
  .restartbutton {
    background-color: green;
    color: #fff;
    border: 0px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    width: 100%;
  }

  .cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 5em; 
    text-align: center;
  }
 
}
